.widget{
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 10px;
    box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
    border-radius: 10px;
    height: 130px;
}
.widget-left, .widget-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.title{
    font-weight: bold;
    font-size: 16px;
    color: gray;
}
.counter{
    font-size: 28px;
    font-weight: 300;
}
.widget-link{
    width: max-content;
    font-size: 12px;
    color: #000080;
    border-bottom: 1px solid gray;
    cursor: pointer;
}
.widget-link:hover{
    color: gray;
}
.widget-icon{
    font-size: 30px;
    padding: 5px;
    border-radius: 5px;
    align-self: flex-end;
}
.percentage{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: green;
}
