.navbar{

    display:grid;
    grid-template-columns: 150px 500px; 
    background-color: bisque;
   
    
}
.rightSide{
    display:grid;
    align-content: center;
    font-family:Arial, Helvetica, sans-serif;
}
.books{
    width: 120px;
    height:120px;
}