.pdf-container{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
}
.pdf-content{
    padding: 20px;
    align-items: center;
    background-color: white;
    width: 95%;
    height: 97%;
    border-radius: 5px;
}