
.calculator-container{
    position: fixed;
    top: 20%;
    left : 35%; 
    transform: translate(-50%,-50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    color: #000080;
    box-shadow: 0px 0px 10px rgba(0,0,0, 0.2);
    display: block;
    cursor: move;
}
.calculator-container.dragging{
    opacity:0.8;
    position: absolute;
}
.calculator-button{
    cursor: pointer;
}
.calculator-header{
    font-weight: bold;
    font-size: 25px;
}
.calculator-body{
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
}

.calculator-close-icon{
    position:absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

.input-group input{
    padding: 5px;
    height: 35px;
    font-size: 16px;
    border: 1px solid darkgray;
    border-radius: 3px;
    font-weight: bold;
    width: 100%;
    margin-bottom: 10px;
    color: #000080;
    background-color: white;
}

.calculate-loan-button{
    background-color: #000080;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.calculate-loan-button:hover{
    color: darkgray;
}

.result{
    margin-top: 20px;
    font-size: 16px;
    color: #000080;
}

@media screem and (max-width:600px) {
    .calculator-container{
        padding: 10px;
    }
    .input-group input{
        font-size: 14px;
    }
    .calculate-loan-button{
        padding: 14px;
    }
    .result{
        font-size: 14px;
    }
}