.scrollable-content{
    overflow-y: scroll;
    margin-top: 0;
    height: 580px;
}
.app-container{
    position: relative;
}
::-webkit-scrollbar{
    width: 5px;
    height: 10px;
}
::-webkit-scrollbar-button{
    display: none;
}
::-webkit-scrollbar-corner{
    display: none;
}
::-webkit-scrollbar-track{
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background-color: #888;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #555;
}
@media screen and (max-width:769px) {
    .scrollable-content{
        height:770px;
    }
}